body {
  font-family: 'Source Sans Pro', sans-serif; }

#interface thead th {
  font-size: 1.05em;
  font-weight: 600; }

.table-wrapper {
  height: 300px;
  overflow: auto;
  float: left; }

#interface-wrapper {
  width: 968px; }

#interface {
  width: 800px; }

#col1, #col2, #col3 {
  width: 50px;
  float: right;
  margin-right: 5px; }
  #col1 td, #col2 td, #col3 td {
    height: 60px; }

button {
  height: 60px;
  margin: 1px 1px 1px 1px; }

.btn-default {
  color: #F5F5F5;
  background-color: #9CA0A0; }

.glyphicon {
  font-size: 2em; }

.toggle-actions {
  position: absolute;
  top: 244px; }
  .toggle-actions.collapse-button {
    width: 165px; }

/*# sourceMappingURL=styles.css.map */
